/* Global Styles */
body {
  background: $mainBackground;
  //@include box-shadow($shadow);
  @include container;
  
}

.page {
	position: relative;
}

* {
	font-family: $sansFontFamily;
}

a {
  color: $linkColor;
  text-decoration: none;
  
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

/* Header */

header,
footer {
  background-color: $white;
}

header {
  	margin-top: 10px;
	top: 0px;
	border-bottom: 1px solid $grayLighter;
	@include box-shadow($shadow);
	z-index: 50;
	height: 135px;

  .logo {
  	background: image-url('red-cross-logo@2x.jpg') no-repeat left center;
  	@include span-columns(4,12);
  	height: 100px;
  	background-size: 75%;
  	margin: 10px 0 0 1em;
  }
	
  .name {
    color: #aaa;
    @include span-columns(5 omega, 12);
    @include push(1, 12);
    font-size: 3em;
    
    span {
      color: #ccc;
    }
  }

// No menu button for desktop

  .menu {
	  display: none;
  }
  
  .nav {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: $blueLight;
    min-height: 10px;
	
  	li {
  	  float: left;
  	  width: auto;
    	a {
    	  color: #fff;
  	    padding: 10px 12px;
  	  }
  	}
  }
}

.main {
	background: $mainBackground;
	z-index: 1;
}

.content {
	min-height: 500px;
}



/* Locations */

.locations.index {
	
	h3 {
		border-bottom: 1px solid $grayDark;
		padding: .25em 1em;
		
	}
	
	.map {
		display: none;
	}	
}

.even {
	display: inline;
	width: 49.8%;
	float: left;
	border-right: 1px solid $grayDark;
}

.odd {
	display: inline;
	width: 50%;
	float: right;
}

.location {
	display: block;
	padding: 1em 0 0;
	border-bottom: 1px solid $grayDark;
	height: 100px;
				
}

.sorry {
	padding: 8px 35px 8px 14px;
	color: $grayDark;
	text-shadow: 0px 1px $white;
	text-align: center;
}

.location-title {
	@include span-columns(12 omega, 12);
	padding-bottom: .5em;
	border-bottom: 1px solid $grayLight;

	h4 {
		@include span-columns(9,12);
	}
}

.details-wrapper {
	background: white;
	@include span-columns(12 omega,12);
}

.details {
	@include span-columns (6, 12);
	margin-right: 0;
	padding: 1em;
	
	img {
		display: block;
		float: left;
		margin-right: .5em;
		max-width: 39%;
		border: 1px solid white;
		@include box-shadow($shadow);
	}
}

.map {
	@include span-columns (5 omega, 12);
	height: 200px;
	width: 47.4%;
	float: right;
	display: inline;	
}

.info {
	display: none;
}

.btn-add-item {
	float: right;
}

.location-name {
	font-weight: bold;
}

.location-details {
	@include span-columns(7 omega, 12);
}

/* Individual Locations */

.category {
	@include span-columns(12 omega, 12);
	background: $grayDark;
	padding: 5px 0px;
	margin: 0px 0px 5px;
}

.category-name {
	display: block;
	color: white;
	text-shadow: 0px 1px $charcoal;
	margin: 0 1em;
}

//footer.two {
//	display: none;
//}

// Items
.item {
	border-bottom: 1px solid $gray;
	padding: .25em; 
	
	img {
		max-width: 125px;
	}
}

.item-details {
	@include span-columns(6 omega, 12);
}

.item-quantity,
.item-container,
.item-name {
	@include span-columns(6 omega, 6);
}

/* New Session */


/* Footer */

footer {
  bottom: 0;
  padding: 1em;
  background: $white;
  @include box-shadow($reverse-shadow);
  z-index: 50;
  float: left;
  width: 96.6%;
  
		
/*
		.btn {
			display: none;
		}
*/
}
	

.sessions.new {
	
	footer {
		background: transparent;
		@include box-shadow(0 0 0 transparent);
		
		.btn {
			display: inline-block;
		}
	}
}

.hint {
  display: block;
  margin: -5px 0 5px 0;
  color: #999;
  font-size: 0.9em;
}
