/* Global Styles */
body {
  background: $white;
  //@include box-shadow($shadow);
  border-top: 10px solid $blueLight;
  width: 100%;
}

.page {
	position: relative;
	width: 100%;
}



* {
	font-family: $sansFontFamily;
}

a {
  color: $linkColor;
  text-decoration: none;
  
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }

}

/* Header */

header,
footer {
	@include container;
	position: relative;
}

header {
	border-bottom: 1px solid $grayLighter;
	@include box-shadow($shadow);
	z-index: 50;
	//padding-top: 1em;
	position: relative;

  .logo {
  	background: image-url('red-cross-logo@2x.jpg')no-repeat left center;
  	background-size: 100%;
  	@include span-columns(6,12);
  	height: 80px;
  }
	
  .name {
    @include span-columns(6 omega, 12);
    text-align: right;
  }

  .menu {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-image: image-url("nav-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $blueLight;
    text-align: left;
    text-indent: -1000em;
  }

  .nav {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background-color: $blueLight;
	
  	li {
    	a {
    	  color: #fff;
  	    padding: 5px 10px;
  	  }
  	}
  }
}

.main {
	background: $mainBackground;
	z-index: 1;
	padding-bottom: 1em;
	
}

/* Layout - Mobile */

.sessions, .passwords, .registrations {
	padding: 0em 1em;
}

.map {
	
	* {
		display: none;
	}
}

.locations {
	
	h3 {
		border-bottom: 1px solid $grayDark;
		padding: 1em;
		
	}
}

.location {
	display: block;
	padding: 1em;
	
	* {
		color: $charcoal;
	}
	
	img {
		display: block;
		float: left;
		margin-right: .5em;
		max-width: 40%;
	}
}

.location-details {
	@include span-columns(7 omega, 12);
}

.even {
	background: $pageBackground;
}

/* New Session */

.sessions, .passwords, .registrations {
	.btn {
		display: block;
		margin: auto;
		width: 100%;
	}
}

.sessions {
  .forgot-password {
    float: right;
    // margin: -0.5em 0 0.5em 0;
  }
  
  .remember-me {
    margin-bottom: .5em;
  }
}

/* Footer */

footer {
	position: relative;
	padding-top: 1em;
	background: white;
	@include box-shadow($reverse-shadow);
	z-index: 50;

	.btn {
		display: block;
		margin: auto;
		width: 50%;
	}
}