/* Global Styles */
body {
  @include container;
  background: $white;
  //@include box-shadow($shadow);
  border-top: 10px solid $blueLight;
}


* {
	font-family: $sansFontFamily;
}

a {
  color: $linkColor;
  text-decoration: none;
  
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }

}



/* Layout */


/* Header */

.logo {
	background: image-url('red-cross-logo@2x.jpg')no-repeat left center;
	background-size: 100%;
	@include span-columns(6,12);
	height: 80px;
}


	
.name {
    @include span-columns(6 omega, 12);
    text-align: right;
}


.nav {
	@include span-columns(9 omega, 12);
	
		
	li {
		float: left;
		margin-right: 2%;
		padding-right: 2%;
		border-right: 2px solid $charcoal;
		
		&:last-child {
			border: none;
		}
	}
}

