/* Layout - Mobile */


//We don't show maps on Mobile

.map {
    
    * {
    	display: none;
    }
}

//Stripes on Mobile

.even {
    background: $pageBackground;
}


//Location Page

.btn-back {
    display: inline;
    
}

