/* Layout - Mobile */


//We don't show maps on Mobile

.map {
    
    * {
    	display: none;
    }
}

//If something shouldn't show up in Mobile, give it a class of desktop and blow it away!

.desktop {
	display: none;
}

//Stripes on Mobile

.even {
    background: $pageBackground;
}


//Location Page

.locations.show {
	
	.info {
		background: $gray;
		color: white;
		text-shadow: 0px 1px $grayDark;
		padding: 5px 10px;
		text-transform: uppercase;
		@include border-radius(15px);
		font-size: small;
		font-weight: 600;
		@include box-shadow(inset 0px 1px 0px $grayDark);
		margin-top: 3px;
		display: block;
		float: right;
		
		&:hover {
			text-decoration: none;
		}
	}
	.details {
		display: none;	
	}
	
	footer {
		
		.btn {
			float: left;
			width: 46%;
			padding: 9px 14px;
		}
	}
}