@include "susy";

body {
  margin: 0;
}

header {
  height: 96px;
  padding: 20px;
  background-image: image-url("red-cross-logo.jpg");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 250px 83px;
  
  .name {
    font-size: 2em;
  }
}

.location {
  float: left;
  width: 100%;
  background-color: #ddd;
  text-decoration: none;
  color: #000;
  
  &.odd {
    background: #eee;
  }
  
  img {
    float: left;
    margin-right: 15px;
  }
  
  .name {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .chapter {
    color: #999;
    margin-bottom: 10px;
  }
  
  .address {
    margin-bottom: 10px;
  }
}
