<h3>Edit location</h3>

<%= render 'form' %>

<%= link_to "Cancel", @location, :class => "btn btn-classy btn-large" %>
<%= link_to 'Delete', @location, :class => "delete btn btn-danger btn-large", method: :delete, data: { confirm: 'Are you sure?' } %>
